repository/xmlschema-bindings/src/main/xsd/linkextractor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://outerx.org/daisy/1.0" xmlns:daisy="http://outerx.org/daisy/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="linkExtractor">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="linkExtractors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="daisy:linkExtractor"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
